<header class="header">
    <div class="breadcrumbs">
        Dashboard / 
        <strong>
            <%= activePage === 'dashboard' ? 'Admin' : '' %>
            <%= activePage === 'orders' ? 'Orders' : '' %>
            <%= activePage === 'products' ? 'Products' : '' %>
        
        </strong>
    </div>
    <div class="header-row">
        <label for="sidebar-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <h1>
            <%= activePage === 'dashboard' ? 'Admin Dashboard' : '' %>
            <%= activePage === 'orders' ? 'Manage Orders' : '' %>
            <%= activePage === 'products' ? 'Manage Products' : '' %>
        </h1>
        <div class="header-controls">
            <div class="search">
                <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8" />
                    <path d="m21 21-4.3-4.3" />
                </svg>
                <input type="text" placeholder="Search anything here" aria-label="Search">
            </div>
            <button class="notif"><i class="fa fa-bell" style="font-size:1.5em;"></i></button>
            <a href="/logout" class="notif" style="text-decoration:none;"><i class="fa fa-unlock-alt"
                    style="font-size:1.5em;"></i></a>
        </div>
    </div>
</header>